<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Favicon Fragment -->
    <th:block th:fragment="favicon">
        <!-- Standard favicon.ico -->
        <link rel="icon" type="image/x-icon" th:href="@{/images/dacsanvietLogo.ico}">
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/dacsanvietLogo.ico}">
        <!-- Modern browsers -->
        <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/dacsanvietLogo.png}">
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/dacsanvietLogo.png}">
        <!-- Apple touch icon -->
        <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/dacsanvietLogo.png}">
        <!-- Theme color -->
        <meta name="theme-color" content="#4ec2b6">
    </th:block>
</head>
</html>